.header {
    justify-content: space-between;
    height: auto;
    padding: 20px 10px;
    flex-wrap: wrap;
}
.nav-link {
    background: #6379ef;
    transition: all .2s ease-in-out;

    &:hover {
        background: #798cf4;
        text-decoration: none;
    }

    .mat-button-focus-overlay {
        display: none;
    }
}