<div class="container">
  <app-printer-search></app-printer-search>
  <mat-table #printersTable [dataSource]="printers" class="printers-table mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef
        [ngClass]="sortedColumns.id"
        class="sorted-col">
          <span class="txt" (click)="sortByProp($event, 'id')">No.<i class="sort-arr material-icons">arrow_downward</i></span>
        </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef
        [ngClass]="sortedColumns.name" 
        class="sorted-col"
        >
          <span class="txt" (click)="sortByProp($event, 'name')">Name<i class="sort-arr material-icons">arrow_downward</i></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="network address">
      <mat-header-cell *matHeaderCellDef>Network Address </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.networkAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="colour">
      <mat-header-cell *matHeaderCellDef>Colour </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.colour}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef>Year </mat-header-cell>
      <mat-cell *matCellDef="let printer"> {{printer.year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="report link">
      <mat-header-cell *matHeaderCellDef>Printer Report </mat-header-cell>
      <mat-cell *matCellDef="let printer">
        <a *ngIf="printer.reportLink" 
            href="{{printer.reportLink}}"
            class="action-btn"
            download>
            <i class="material-icons">file_download</i>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let printer">
        <a routerLink="/edit-printer/{{printer.id}}" 
           class="action-btn">
            <i class="material-icons">mode_edit</i>
        </a>
        <span (click)="deletePrinter(printer)" class="action-btn"><i class="material-icons">delete_forever</i></span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
