.printers-table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  transition: all .2s ease-in-out;
  &:hover {
    background: #efefef;
  }
}

.mat-column-id {
  flex: .4;
}

.mat-column-description {
  flex: 1.4;
}

.mat-column-network-address,
.mat-column-status,
.mat-column-year {
  flex: 0.8;
}

.mat-column-report-link {
  flex: 0.7;
}

.mat-column-report-actions {
  flex: 0.9;
}

.action-btn {
  background: transparent;
  border-radius: 50%;
  color: #1a62bf;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  height: 40px;
  width: 40px;
  cursor: pointer;
  &:hover {
    background: #f7f7f7;
    text-decoration: none;
  }
  &:active {
    color: #f00;
  }
}

.sorted-col {
  .txt {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  &.sorted {
    .sort-arr {
      opacity: 1;
    }
  }
  &.sorted-reversed {
    .sort-arr {
      opacity: 1;
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  .sort-arr {
    position: absolute;
    font-size: 10px;
    top: 50%;
    left: 120%;
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: translate(0, -50%);
  }
}
